$black: #303030;
$red: #aa0303;
$light-red: #efa0a0;
$gray: #b8b8b8;
$light-gray: #e5e5e5;
$white: #fbfbfb;
$serif: 'Crimson Text';
$monospace: '"Courier"';
$fs: 1rem;
$fs-large: 1.125rem;
$std-margin: 0 0 1rem;
$break-small: 800px;